.sidebar {
  position: fixed;
  justify-content: start;
  align-items: center;
  background-color: white;
  width: 72px;
  left: 0px;
  bottom: 0;
  top: 55px;
  z-index: 200;
}

.side-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74px;
  cursor: pointer;
}

.side-buttons:hover {
  background-color: rgb(245, 245, 245);
}

.side-buttons img {
  margin-bottom: 8px;
  width: 24px;
}

.side-buttons div {
  font-size: 10px;
  font-family: "Roboto";
}